/*
 =========================================================
 * Blk• Design System - v1.0.0
 =========================================================

 * Product Page: https://www.creative-tim.com/product/blk-design-system
 * Copyright 2018 Creative Tim (http://www.creative-tim.com)


 =========================================================

 * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

 */

// Core

@import "blk-design-system-react/bootstrap/functions";

@import "blk-design-system-react/custom/variables";
@import "blk-design-system-react/bootstrap/variables";

@import "blk-design-system-react/custom/mixins";
@import "blk-design-system-react/bootstrap/mixins";

// Bootstrap components

@import "blk-design-system-react/bootstrap/reboot";

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-bottom: $headings-margin-bottom;
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  color: $headings-color;
}

h1,
.h1 {
  font-size: $h1-font-size;
}
h2,
.h2 {
  font-size: $h2-font-size;
}
h3,
.h3 {
  font-size: $h3-font-size;
}
h4,
.h4 {
  font-size: $h4-font-size;
}
h5,
.h5 {
  font-size: $h5-font-size;
}
h6,
.h6 {
  font-size: $h6-font-size;
}

@import "blk-design-system-react/bootstrap/grid";
@import "blk-design-system-react/bootstrap/forms";
@import "blk-design-system-react/bootstrap/buttons";
@import "blk-design-system-react/bootstrap/nav";

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap; // allow us to do the line break for collapsing content
  align-items: center;
  justify-content: space-between; // space out brand from logo
  padding: $navbar-padding-y $navbar-padding-x;

  // Because flex properties aren't inherited, we need to redeclare these first
  // few properties so that content nested within behave properly.
  > .container,
  > .container-fluid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
}

// Navbar nav
//
// Custom navbar navigation (doesn't require `.nav`, but does make use of `.nav-link`).

.navbar-nav {
  display: flex;
  flex-direction: column; // cannot use `inherit` to get the `.navbar`s value
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;

  .nav-link {
    padding-right: 0;
    padding-left: 0;
  }
}

// Generate series of `.navbar-expand-*` responsive classes for configuring
// where your navbar collapses.
.navbar-expand {
  @each $breakpoint in map-keys($grid-breakpoints) {
    $next: breakpoint-next($breakpoint, $grid-breakpoints);
    $infix: breakpoint-infix($next, $grid-breakpoints);

    &#{$infix} {
      @include media-breakpoint-up($next) {
        flex-flow: row nowrap;
        justify-content: flex-start;

        .navbar-nav {
          flex-direction: row;

          .nav-link {
            padding-right: $navbar-nav-link-padding-x;
            padding-left: $navbar-nav-link-padding-x;
          }
        }

        // For nesting containers, have to redeclare for alignment purposes
        > .container,
        > .container-fluid {
          flex-wrap: nowrap;
        }
      }
    }
  }
}

@import "blk-design-system-react/bootstrap/utilities";

.form-control {
  border-color: lighten($black, 5%);
  border-radius: $border-radius-lg;
  font-size: $font-size-sm;
  @include transition-input-focus-color();

  &:focus {
    border-color: $primary;
    background-color: $input-bg;
    @include box-shadow(none);
  }
}

.btn {
  border-width: $border-thick;
  border: none;
  position: relative;
  overflow: hidden;
  margin: 4px 1px;
  border-radius: $border-radius-lg;
  cursor: pointer;

  @include btn-styles($default, $default-states);

  &-bug {
    @include btn-styles($bug, $bug);
  }
  &-dark {
    @include btn-styles($dark, $dark);
  }
  &-dragon {
    @include btn-styles($dragon, $dragon);
  }
  &-electric {
    @include btn-styles($electric, $electric);
  }
  &-fairy {
    @include btn-styles($fairy, $fairy);
  }
  &-flying {
    @include btn-styles($flying, $flying);
  }
  &-fighting {
    @include btn-styles($fighting, $fighting);
  }
  &-ghost {
    @include btn-styles($ghost, $ghost);
  }
  &-grass {
    @include btn-styles($grass, $grass);
  }
  &-ground {
    @include btn-styles($ground, $ground);
  }
  &-normal {
    @include btn-styles($normal, $normal);
  }
  &-poison {
    @include btn-styles($poison, $poison);
  }
  &-psychic {
    @include btn-styles($psychic, $psychic);
  }
  &-rock {
    @include btn-styles($rock, $rock);
  }
  &-steel {
    @include btn-styles($steel, $steel);
  }
  &-fire {
    @include btn-styles($fire, $fire);
  }
  &-ice {
    @include btn-styles($ice, $ice);
  }
  &-water {
    @include btn-styles($water, $water);
  }
}

.navbar {
  padding: $navbar-padding-x;
  width: $full-width;
  z-index: 1050;
  background: $primary;

  .navbar-nav {
    .nav-item .nav-link {
      position: relative;
      color: inherit;
      line-height: 20px;
      display: inline-flex;
      transition: color 0.25s;
      &:hover {
        color: $opacity-8;
      }
    }
  }

  &.navbar-transparent {
    background: $transparent-bg !important;
    padding-top: 25px;
  }
}

.navbar-nav li {
  padding: 0 10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: $font-weight-normal;
  color: $opacity-8;
}

a {
  color: $primary-states;
  font-weight: $font-weight-light;
  &:hover,
  &:focus {
    color: $primary;
  }
}
h1,
.h1 {
  line-height: 1.05;
  margin-bottom: $margin-base-vertical * 2;
}
h2,
.h2 {
  margin-bottom: $margin-base-vertical * 2;
  line-height: 1.2;
}
h3,
.h3 {
  margin-bottom: $margin-base-vertical * 2;
  line-height: 1.4em;
}
h4,
.h4 {
  line-height: 1.45em;
  margin-bottom: $margin-base-vertical;
}
h5,
.h5 {
  line-height: 1.4em;
  margin-bottom: 15px;
}
h6,
.h6 {
  text-transform: uppercase;
  font-weight: $font-weight-bold;
}
p {
  color: $opacity-8;
  margin-bottom: 5px;
}

ul li,
ol li {
  color: $white;
}
